@model IEnumerable<TrueTime.Models.User>

@{
    ViewBag.Title = "Lista";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Skapa ny", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccumulatedHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLogin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccumulatedHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            @Html.ActionLink("Redigera", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detaljer", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Ta bort", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
